<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
</head>
<body class="container-fluid" id="site-content">

<header>
    <%- include('partials/header')%>
</header>
<main class="main-content">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="subscribe-form">
                    <form action="find-a-lawyer" method="POST">
                        <label for="#">
                            <span>Find a Lawyer</span>
                        </label>
                        <div class="control">
                            <input name="input_search" type="text" class="input" placeholder="Search Name or Enrollment Number...">
                            <button type="submit"><img src="images/icon-user.png" alt=""></button>
                                                    </form>
                        </div>
                </div>
            </div>
        </div>
    </div> <!-- .hero-slider -->
<div class="result">
   <% if (model.length>0 || model) { %>
    <h2>search results: <%- model.length %> </h2>
    <% for( let index = 0; index < model.length; index++ ) { %>
        <div onclick="location.href='#?user=<%- model[index].idNumber %>';" style="cursor: pointer;"  class="container courses-container ">
            <div class="course">
                <div class="course-preview">
                    <img class="d-block w-100 " src="<%- model[index].profilePicture %>" alt="" style="width: 150px;border-radius: 50%;" ></a>
                </div>
                <div class="course-info">
                    
                    <h3><%- model[index].Name %></h3>
                    <h6>Enrollment No: <span><%- model[index].idNumber %> </span></h6>
                    <h6>Called Up In The Year :<span><%- model[index].date.getFullYear() %> </span></h6>
                    <p><em><%- model.Status %> </em></p>
                </div>
            </div>
        </div>
    <% } %>
   <% } else{ %>
   <% } %>
</div>
       <br>
      <br>
       
</main> <!-- .main-content -->

<footer>
    <%- include('partials/footer') %>
</footer>
<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
</body>
</html>
